html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"),
    url("../fonts/MontserratMedium.woff2") format("woff2"),
    url("../fonts/MontserratMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
    url("../fonts/MontserratBold.woff2") format("woff2"),
    url("../fonts/MontserratBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"),
    url("../fonts/MontserratExtraBold.woff2") format("woff2"),
    url("../fonts/MontserratExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
    url("../fonts/MontserratRegular.woff2") format("woff2"),
    url("../fonts/MontserratRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"),
    url("../fonts/MontserratSemiBold.woff2") format("woff2"),
    url("../fonts/MontserratSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: #fff;
}

/* glob */

:root {
  --gap: 249px;
  --yellow-color: #FF9900;
  --white-color: #FFB84D;
  --black-color: #E1670E;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.flex {
  display: flex;
}

.cont-marg {
  margin-bottom: 100px;
}


.container {
  max-width: 1870px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.btn {
  border: 1px solid var(--yellow-color);
  border-radius: 16px;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #000;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000;
}

/* header */

.header {
  background: #FFFFFF;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
  margin-bottom: 50px;
}

.header__block {
  padding: 14px 50px;
  align-items: center;
}

.header__logo {
  max-width: 225px;
  margin-right: auto;
}

.header__nav {
  max-width: 708px;
  width: 100%;
  margin-right: 260px;
}

.header__nav-list {
  justify-content: space-between;
}

.header__nav-list-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

.item-link {
  position: relative;
}

.item-link:focus {
  outline-offset: 5px;
  outline: 1px solid var(--yellow-color);
}

.item-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--yellow-color);
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.item-link:hover::after {
  opacity: 1;
}

.item-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #E1670E;
  opacity: 0;
}

.item-link:active {
  outline: none;
  color: #E1670E;
}

.item-link::before:active {
  opacity: 1;
}

.header__search {
  stroke: #000;
  stroke-width: 2px;
}

.header__search-btn {
  height: 24px;
  transition: stroke .3s ease-in-out;
}

.header__search-btn:focus {
  outline-offset: 2px;
  outline: 2px solid var(--yellow-color);
}

.header__search-btn:hover {
  stroke: var(--yellow-color);
}

.header__search-btn:active {
  stroke: var(--yellow-color);
}

/* main */
/* hero */

.main {
  margin-bottom: 100px;
}

.hero {
  background-image: url("../img/hero-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 32px;
  margin-bottom: 50px;
}

.hero__content {
  max-width: 55%;
  padding: 100px 80px;
  margin-right: 10px;
}

.hero__content-title {
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #fff;

  margin-bottom: 24px;
}

.hero__content-descr {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  margin-bottom: 90px;
}

.hero__content-btn {
  padding: 25px 39px;
  background: var(--yellow-color);
  color: #fff;

  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  transition: background-color .3s ease-in-out;
}

.hero__content-btn:focus {
  background-color: var(--white-color);
}

.hero__content-btn:hover {
  background-color: var(--white-color);
}

.hero__content-btn:active {
  background-color: var(--black-color);
}

/* info */

.info__title {
  margin-bottom: 20px;
}

.info__descr {
  width: 69.78%;
  margin-bottom: 50px;
}

.info__block-img {
  display: flex;
  align-items: flex-end;
  margin-right: 32px;
  background-image: url("../img/builder_human.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
  background-position: center;
  width: 50%;
}

.info__block-info {
  align-items: center;
  width: 100%;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.block-marg {
  margin-right: auto;
}

.info__block-img-descr {
  max-width: 433px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
  min-width: 256px;
}

.info__block-img-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 17px 35px;
  border: 3px solid var(--yellow-color);
  color: #fff;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.info__block-img-btn:focus {
  background-color: var(--yellow-color);
}

.info__block-img-btn:hover {
  background-color: var(--yellow-color);
}

.info__block-img-btn:active {
  background-color: var(--black-color);
  border-color: var(--black-color);
}

.info__block-main {
  width: 50%;
}

.info__block-main-text {
  outline: 1px solid #CACACA;
  border-radius: 32px;
}

.info__block-main-text:nth-child(1) {
  margin-bottom: 32px;
}

.info__block-main-text-content {
  align-items: center;
  width: 100%;
  padding: 65px 60px 60px 60px;
}

.info__block-main-text-img {
  max-width: 190px;
  /* width: 100%; */
  margin: 0;
  padding: 0;
  margin-right: 50px;
}

.info__block-main-text-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.info__block-main-text-descr {
  max-width: 450px;
  margin-right: 10px;
}

/* work */

.work {
  margin-bottom: 111px;
}

.work__title {
  margin-bottom: 50px;
}

.work__list {
  margin-bottom: 45px;
}

.work__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

.work__item-link {
  transition: color .3s ease-in-out;
}

.work__item-link:focus {
  outline-offset: 5px;
  outline: 1px solid var(--yellow-color);
}

.work__item-link:hover {
  color: var(--yellow-color);
}

.work__item-link:active {
  color: var(--black-color);
  outline: none;
}

.work__item:not(:last-child) {
  margin-right: 85px;
}

.work__block-info {
  /* position: relative; */
  max-width: 43%;
  margin-right: auto;
}

.work__block-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000;
}

.work__block-descr {
  margin-bottom: 18px;
  margin-right: 10px;
  /* min-width: 437px; */
}

.work__block-img {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  margin-bottom: 2px;
}

/* .work__block-btn {
  position: absolute;
} */

.work__block-btnone {
  padding: 20px 38px;
  color: #fff;
  background: var(--yellow-color);
  border-radius: 16px;
  margin-right: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  transition: background-color .3s ease-in-out;
}

.work__block-btnone:focus {
  background-color: var(--white-color);
}

.work__block-btnone:hover {
  background-color: var(--white-color);
}

.work__block-btnone:active {
  background-color: var(--black-color);
}

.work__block-btntwo {
  padding: 19px 35px;
  border: 1px solid #000;
  color: #000;
  border-radius: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  transition: background-color .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out;
}

.work__block-btntwo:focus {
  background-color: #666;
  color: #fff;
  border-color: #666;
}

.work__block-btntwo:hover {
  background-color: #666;
  color: #fff;
  border-color: #666;
}

.work__block-btntwo:active {
  background-color: #000;
  color: #fff;
}


/* question */

.question__title {
  margin-bottom: 32px;
}

.question__list-item:first-child {
  border-top: 1px solid #CACACA;
}

.question__list-item {
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #CACACA;
  transition: border-color .3s ease-in-out;
}

.question__list-title {
  margin: 0;
}

.question__list-item-btn {
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 30px 0;
  text-align: left;

  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  background-color: transparent;
  border: none;
  transition: color .3s ease-in-out;
}

.question__list-item-title {
  transition: color .3s ease-in-out;
}

.question__list-item:first-child:hover,
.question__list-item:focus-within,
.question__list-item:hover {
  border-color: var(--yellow-color);
}

.question__list-item:active {
  border-color: #CACACA;
}

.question__list-item-btn:focus,
.question__list-item-btn:hover .question__list-item-title {
  color: var(--yellow-color);
}

.question__list-item-btn:active .question__list-item-title {
  color: #000;
}

.question__list-item-img {
  min-width: max-content;
  fill: #CACACA;
  transition: fill .3s ease-in-out, transform .3s ease-in-out;
}

.question__list-item-img path {
  fill: black;
}

.question__list-item-btn:focus svg,
.question__list-item-btn:hover svg {
  fill: var(--yellow-color);
}

.question__list-item-btn:focus path,
.question__list-item-btn:hover path {
  fill: #fff;
}

.question__list-item-btn:active svg {
  transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
  fill: #CACACA;
}

.question__list-item-btn:active svg path {
  fill: black;
}

/* footer */

.footer {
  background: #000;
  padding: 50px 0;
}


.cont-bet {
  justify-content: space-between;
}

.footer__nav-logo {
  margin-bottom: 16px;
}

.footer__nav {
  margin-right: 131px;
}

.footer__item-link {
  color: #CACACA;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  transition: color .3s ease-in-out;
}

.footer__item-link:focus {
  outline: 1px solid var(--yellow-color);
  outline-offset: 5px;
}

.footer__item-link:hover {
  color: var(--yellow-color);
}

.footer__item-link:active {
  color: var(--black-color);
  outline: none;
}

.footer__list {
  margin-bottom: 90px;
}

.footer__social:nth-child(1) {
  margin-right: 20px;
}

.footer__social {
  fill: #666;
  transition: fill .3s ease-in-out;
}

.footer__social:focus {
  outline: 1px solid var(--yellow-color);
  outline-offset: 5px;
}

.footer__social:hover {
  fill: var(--yellow-color);
}

.footer__social:active {
  outline: none;
  fill: var(--black-color);
}

.footer__form {
  margin-right: 20px;
  width: 32%;
}

.footer__form-title {
  color: #CACACA;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 25px;
}

.footer__form-item {
  flex-direction: column;

}

.footer__form-input {
  width: 100%;
  height: 60px;
  padding: 14px 24px 14px 24px;
  background: #414141;
  border-radius: 16px;
  margin-bottom: 25px;
  color: #CACACA;
}

.footer__form-textarea {
  width: 100%;
  background: #414141;
  border-radius: 16px;
  padding: 20px 0 0 24px;
  max-height: 150px;
  margin-bottom: 32px;
  color: #CACACA;
  resize: none;
}

.form-decoration {
  outline: none;
  border: none;
  transition: background-color .3s ease-in-out;
}

.form-decoration:focus {
  background-color: #666;
}

.form-decoration:hover {
  background-color: #666;
}

.form-decoration:active {
  background-color: #666;
  color: #fff;
}

.footer__form-btn {
  padding: 19px 52px;
  color: #fff;
  background: var(--yellow-color);
  border-radius: 16px;
  margin: auto;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  transition: background-color .3s ease-in-out;
}

.footer__form-btn:focus {
  background-color: var(--white-color);
}

.footer__form-btn:hover {
  background-color: var(--white-color);
}

.footer__form-btn:active {
  background-color: var(--black-color);
}

.footer__info-descr {
  padding-top: 87px;
  color: #CACACA;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  max-width: 363px;
  min-width: 273px;
}

.burger {
  display: none;
  transition: color .3s ease-in-out;
}

.burger:focus {
  outline-offset: 5px;
  outline: 2px solid var(--yellow-color);
}

.burger:hover {
  color: var(--black-color);
}

.visible {
  display: none;
}
